## Importing libraries and dependencies

In [1]:
# yfinance is where we will pull our data from
import yfinance as yf
# pandas for dealing with DataFrames
import pandas as pd
# numpy for using mathematical functions
import numpy as np
# matplotlib for visualization
import matplotlib.pyplot as plt
# Turning off the warnings
# pd.options.mode.chained_assignment = None
# request library
import requests

## Pulling data for 1 ticker using yfinance

### 1. Getting used to the syntax for downloading data from yfinance

In [2]:
# pulling data of APPL stock from start of 2010 till now
# if we do not put in the end date then by default it would be today's date
Apple = yf.download('AAPL', start = '2010-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
# Lets see what data are we getting for APPL stock
# As you can see that the start date in the data is January 04 not 01 it is because of the weekend holidays when the market was close
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.544687,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.556005,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.451722,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.439795,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.482610,447610800
...,...,...,...,...,...,...
2022-04-04,174.570007,178.490005,174.440002,178.440002,178.440002,76468400
2022-04-05,177.500000,178.300003,174.419998,175.059998,175.059998,73401800
2022-04-06,172.360001,173.630005,170.130005,171.830002,171.830002,89058800
2022-04-07,171.160004,173.360001,169.850006,172.139999,172.139999,77594700
2022-04-08,171.779999,171.779999,169.199997,170.089996,170.089996,76515900

In [8]:
# reading tickers_spy.csv
tickers = pd.read_csv("tickers_spy.csv")

In [12]:
tickers = tickers.values.tolist()

In [24]:
flat_tickers = [item for sublist in tickers for item in sublist]

In [29]:
stocks = yf.download(flat_tickers, start = '2010-01-01')

[*********************100%***********************]  505 of 505 completed

In [30]:
stocks

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2010-01-04   20.182621   4.496877   38.154903    6.544688         NaN
2010-01-05   19.963375   5.005957   37.928116    6.556004         NaN
2010-01-06   19.892447   4.798555   38.258835    6.451721         NaN
2010-01-07   19.866661   4.939965   38.249397    6.439795         NaN
2010-01-08   19.860210   4.845691   38.400570    6.482610         NaN
...                ...        ...         ...         ...         ...
2022-04-04  134.809998  18.230000  211.919998  178.440002  161.889999
2022-04-05  133.259995  17.840000  211.729996  175.059998  163.429993
2022-04-06  132.710007  17.379999  212.830002  171.830002  168.910004
2022-04-07  135.929993  16.950001  217.580002  172.139999  173.279999
2022-04-08  134.869995  16.590000  225.740005  170.089996  174.960007

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2010-01-04   22.101797    8.740000   19.778837   33.334301   37.090000  ...
2010-01-05   21.944105    8.530000   19.619041   33.540310   37.700001  ...
2010-01-06   21.736616    8.400000   19.727999   33.896866   37.619999  ...
2010-01-07   21.388035    8.400000   19.891426   33.865170   36.889999  ...
2010-01-08   21.620428    8.230000   19.993120   33.730465   36.689999  ...
...                ...         ...         ...         ...         ...  ...
2022-04-04  154.750000  325.700012  118.879997  344.470001  468.809998  ...
2022-04-05  155.759995  322.660004  119.480003  342.820007  458.579987  ...
2022-04-06  158.139999  313.760010  119.940002  340.260010  444.329987  ...
2022-04-07  162.919998  317.519989  123.370003  341.769989  452.720001  ...
2022-04-08  165.440002  314.529999  123.250000  338.920013  445.339996  ...

               Volume                                                          \
                 WYNN        XEL         XOM       XRAY        XYL        YUM
Date
2010-01-04  4741400.0  2670400.0  27809100.0  1051400.0        NaN  2962274.0
2010-01-05  5644300.0  4321400.0  30174700.0   763400.0        NaN  3298757.0
2010-01-06  2738800.0  2164500.0  35044700.0  1595100.0        NaN  4178981.0
2010-01-07  2388500.0  3041700.0  27192100.0  1096100.0        NaN  2452472.0
2010-01-08  1539800.0  1599100.0  24891800.0   803600.0        NaN  3772392.0
...               ...        ...         ...        ...        ...        ...
2022-04-04  2171400.0  2082300.0  20869400.0  1036400.0   850700.0  1980400.0
2022-04-05  2807100.0  2979400.0  21753100.0  1410600.0  1346100.0  2010900.0
2022-04-06  2926500.0  3350600.0  24768200.0  1706000.0  1271300.0  1683100.0
2022-04-07  3437600.0  3228700.0  26122000.0  1240400.0  1153100.0  2008900.0
2022-04-08  2418800.0  2115100.0  24863600.0  1252100.0  1363500.0  1743200.0


                  ZBH      ZBRA        ZION        ZTS
Date
2010-01-04   805872.0  168800.0   3974600.0        NaN
2010-01-05  1769643.0  168800.0   5605500.0        NaN
2010-01-06  1315619.0  385300.0  12615200.0        NaN
2010-01-07  1734005.0  183600.0  24716800.0        NaN
2010-01-08  2213985.0  266500.0   6903000.0        NaN
...               ...       ...         ...        ...
2022-04-04  1349700.0  492300.0   1220400.0  2603600.0
2022-04-05  2187100.0  456700.0   1384200.0  2059300.0
2022-04-06  2057700.0  442300.0   1568200.0  2843500.0
2022-04-07  1800200.0  464500.0   1093500.0  2781400.0
2022-04-08  1107600.0  387600.0    889300.0  2455500.0

[3093 rows x 3030 columns]

In [31]:
# saving stocks data to csv
stocks.to_csv("stocks_spy_data.csv")

In [38]:
stocks = pd.read_csv("stocks_spy_data.csv", header = [0,1], index_col = [0], parse_dates = [0])

In [40]:
stocks

MultiIndex([('Adj Close',    'A'),
            ('Adj Close',  'AAL'),
            ('Adj Close',  'AAP'),
            ('Adj Close', 'AAPL'),
            ('Adj Close', 'ABBV'),
            ('Adj Close',  'ABC'),
            ('Adj Close', 'ABMD'),
            ('Adj Close',  'ABT'),
            ('Adj Close',  'ACN'),
            ('Adj Close', 'ADBE'),
            ...
            (   'Volume', 'WYNN'),
            (   'Volume',  'XEL'),
            (   'Volume',  'XOM'),
            (   'Volume', 'XRAY'),
            (   'Volume',  'XYL'),
            (   'Volume',  'YUM'),
            (   'Volume',  'ZBH'),
            (   'Volume', 'ZBRA'),
            (   'Volume', 'ZION'),
            (   'Volume',  'ZTS')],
           length=3030)