In [1]:
# Ignoring Future Warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas_datareader as web
import pandas as pd
from yahoo_fin import stock_info as si
import datetime as dt
# yfinance is where we will pull our data from
import yfinance as yf

%matplotlib inline
import matplotlib.pyplot as plt 
plt.style.use("seaborn")

In [2]:
# Reading the stocks_spy_data.csv
stocks = pd.read_csv("stocks_spy_data.csv", header = [0,1], index_col = [0], parse_dates = [0])

In [3]:
stocks.head()

            Adj Close                                                       \
                    A       AAL        AAP      AAPL ABBV        ABC  ABMD
Date
2010-01-04  20.182621  4.496877  38.154903  6.544688  NaN  22.101797  8.74
2010-01-05  19.963375  5.005957  37.928116  6.556004  NaN  21.944105  8.53
2010-01-06  19.892447  4.798555  38.258835  6.451721  NaN  21.736616  8.40
2010-01-07  19.866661  4.939965  38.249397  6.439795  NaN  21.388035  8.40
2010-01-08  19.860210  4.845691  38.400570  6.482610  NaN  21.620428  8.23

                                             ...     Volume             \
                  ABT        ACN       ADBE  ...       WYNN        XEL
Date                                         ...
2010-01-04  19.778837  33.334301  37.090000  ...  4741400.0  2670400.0
2010-01-05  19.619041  33.540310  37.700001  ...  5644300.0  4321400.0
2010-01-06  19.727999  33.896866  37.619999  ...  2738800.0  2164500.0
2010-01-07  19.891426  33.865170  36.889999  ...  2388500.0  3041700.0
2010-01-08  19.993120  33.730465  36.689999  ...  1539800.0  1599100.0

                                                                       \
                   XOM       XRAY XYL        YUM        ZBH      ZBRA
Date
2010-01-04  27809100.0  1051400.0 NaN  2962274.0   805872.0  168800.0
2010-01-05  30174700.0   763400.0 NaN  3298757.0  1769643.0  168800.0
2010-01-06  35044700.0  1595100.0 NaN  4178981.0  1315619.0  385300.0
2010-01-07  27192100.0  1096100.0 NaN  2452472.0  1734005.0  183600.0
2010-01-08  24891800.0   803600.0 NaN  3772392.0  2213985.0  266500.0


                  ZION ZTS
Date
2010-01-04   3974600.0 NaN
2010-01-05   5605500.0 NaN
2010-01-06  12615200.0 NaN
2010-01-07  24716800.0 NaN
2010-01-08   6903000.0 NaN

[5 rows x 3030 columns]

In [4]:
# dropping all the tickers which have less than 3085 days of data i-e joined after 2010 (we are left with 443 stocks out of 505)
stocks.dropna(axis = 1, thresh = 3085, inplace = True)

In [5]:
stocks

             Adj Close                                                 \
                     A        AAL         AAP        AAPL         ABC
Date
2010-01-04   20.182621   4.496877   38.154903    6.544688   22.101797
2010-01-05   19.963375   5.005957   37.928116    6.556004   21.944105
2010-01-06   19.892447   4.798555   38.258835    6.451721   21.736616
2010-01-07   19.866661   4.939965   38.249397    6.439795   21.388035
2010-01-08   19.860210   4.845691   38.400570    6.482610   21.620428
...                ...        ...         ...         ...         ...
2022-04-04  134.809998  18.230000  211.919998  178.440002  154.750000
2022-04-05  133.259995  17.840000  211.729996  175.059998  155.759995
2022-04-06  132.710007  17.379999  212.830002  171.830002  158.139999
2022-04-07  135.929993  16.950001  217.580002  172.139999  162.919998
2022-04-08  134.869995  16.590000  225.740005  170.089996  165.440002

                                                                        ...  \
                  ABMD         ABT         ACN        ADBE         ADI  ...
Date                                                                    ...
2010-01-04    8.740000   19.778837   33.334301   37.090000   23.390224  ...
2010-01-05    8.530000   19.619041   33.540310   37.700001   23.353294  ...
2010-01-06    8.400000   19.727999   33.896866   37.619999   23.308975  ...
2010-01-07    8.400000   19.891426   33.865170   36.889999   23.124332  ...
2010-01-08    8.230000   19.993120   33.730465   36.689999   23.257280  ...
...                ...         ...         ...         ...         ...  ...
2022-04-04  325.700012  118.879997  344.470001  468.809998  164.500000  ...
2022-04-05  322.660004  119.480003  342.820007  458.579987  159.979996  ...
2022-04-06  313.760010  119.940002  340.260010  444.329987  160.279999  ...
2022-04-07  317.519989  123.370003  341.769989  452.720001  161.250000  ...
2022-04-08  314.529999  123.250000  338.920013  445.339996  158.740005  ...

              Volume                                                          \
                 WTW         WY       WYNN        XEL         XOM       XRAY
Date
2010-01-04  348017.0  1832400.0  4741400.0  2670400.0  27809100.0  1051400.0
2010-01-05  339523.0  1724500.0  5644300.0  4321400.0  30174700.0   763400.0
2010-01-06  585049.0  2254400.0  2738800.0  2164500.0  35044700.0  1595100.0
2010-01-07  328689.0  1420700.0  2388500.0  3041700.0  27192100.0  1096100.0
2010-01-08  279388.0  1310000.0  1539800.0  1599100.0  24891800.0   803600.0
...              ...        ...        ...        ...         ...        ...
2022-04-04  474900.0  3722900.0  2171400.0  2082300.0  20869400.0  1036400.0
2022-04-05  922700.0  2985100.0  2807100.0  2979400.0  21753100.0  1410600.0
2022-04-06  782700.0  3245900.0  2926500.0  3350600.0  24768200.0  1706000.0
2022-04-07  542000.0  3800800.0  3437600.0  3228700.0  26122000.0  1240400.0
2022-04-08  624100.0  2716200.0  2418800.0  2115100.0  24863600.0  1252100.0


                  YUM        ZBH      ZBRA        ZION
Date
2010-01-04  2962274.0   805872.0  168800.0   3974600.0
2010-01-05  3298757.0  1769643.0  168800.0   5605500.0
2010-01-06  4178981.0  1315619.0  385300.0  12615200.0
2010-01-07  2452472.0  1734005.0  183600.0  24716800.0
2010-01-08  3772392.0  2213985.0  266500.0   6903000.0
...               ...        ...       ...         ...
2022-04-04  1980400.0  1349700.0  492300.0   1220400.0
2022-04-05  2010900.0  2187100.0  456700.0   1384200.0
2022-04-06  1683100.0  2057700.0  442300.0   1568200.0
2022-04-07  2008900.0  1800200.0  464500.0   1093500.0
2022-04-08  1743200.0  1107600.0  387600.0    889300.0

[3093 rows x 2658 columns]

In [6]:
# Checking for null count in each column
stocks.isna().sum()

Adj Close  A       4
           AAL     4
           AAP     4
           AAPL    4
           ABC     4
                  ..
Volume     XRAY    4
           YUM     4
           ZBH     4
           ZBRA    4
           ZION    4
Length: 2658, dtype: int64

In [7]:
# Lets drop the 4 days when data is missing most probably the trading did not happen that day
stocks.dropna(inplace = True)

In [8]:
stocks.head()

            Adj Close                                                  \
                    A       AAL        AAP      AAPL        ABC  ABMD
Date
2010-01-05  19.963375  5.005957  37.928116  6.556004  21.944105  8.53
2010-01-06  19.892447  4.798555  38.258835  6.451721  21.736616  8.40
2010-01-07  19.866661  4.939965  38.249397  6.439795  21.388035  8.40
2010-01-08  19.860210  4.845691  38.400570  6.482610  21.620428  8.23
2010-01-11  19.873106  4.751417  38.022617  6.425421  21.861107  8.08

                                                        ...    Volume  \
                  ABT        ACN       ADBE        ADI  ...       WTW
Date                                                    ...
2010-01-05  19.619041  33.540310  37.700001  23.353294  ...  339523.0
2010-01-06  19.727999  33.896866  37.619999  23.308975  ...  585049.0
2010-01-07  19.891426  33.865170  36.889999  23.124332  ...  328689.0
2010-01-08  19.993120  33.730465  36.689999  23.257280  ...  279388.0
2010-01-11  20.094807  33.698780  36.209999  23.124332  ...  254284.0

                                                                               \
                   WY       WYNN        XEL         XOM       XRAY        YUM
Date
2010-01-05  1724500.0  5644300.0  4321400.0  30174700.0   763400.0  3298757.0
2010-01-06  2254400.0  2738800.0  2164500.0  35044700.0  1595100.0  4178981.0
2010-01-07  1420700.0  2388500.0  3041700.0  27192100.0  1096100.0  2452472.0
2010-01-08  1310000.0  1539800.0  1599100.0  24891800.0   803600.0  3772392.0
2010-01-11  1116800.0  1909000.0  2266600.0  30685000.0   787300.0  5790177.0


                  ZBH      ZBRA        ZION
Date
2010-01-05  1769643.0  168800.0   5605500.0
2010-01-06  1315619.0  385300.0  12615200.0
2010-01-07  1734005.0  183600.0  24716800.0
2010-01-08  2213985.0  266500.0   6903000.0
2010-01-11  1468780.0  104100.0   5532000.0

[5 rows x 2658 columns]

In [9]:
# Lets save the stocks of 443 stocks in to csv
stocks.to_csv("stocks_spy_updated")

In [10]:
# Make a new ticker list with 443 stocks which has thresh = 3085
tickers = list(stocks['Adj Close'].columns)
# saving into csv
tickers = pd.DataFrame(tickers)
tickers.to_csv("tickers_updated.csv", index = None)

In [11]:
# converting it back into list for use in the for loop
tickers = tickers[0].values.tolist()
ticker = [item for sublist in tickers for item in sublist]

In [12]:
# Lets make a a separate dataframe for every column separately for all the tickers
stocks_adj_close = stocks['Adj Close'][:]
stocks_adj_close.to_csv("stocks_adj_close.csv")
stocks_close = stocks['Close'][:]
stocks_close.to_csv("stocks_close.csv")
stocks_volume = stocks['Volume'][:]
stocks_volume.to_csv("stocks_volume.csv")
stocks_high = stocks['High'][:]
stocks_high.to_csv("stocks_high.csv")
stocks_low = stocks['Low'][:]
stocks_low.to_csv("stocks_low.csv")
stocks_open = stocks['Open'][:]
stocks_open.to_csv("stocks_open.csv")

In [13]:
# initiating a list of columns 
columns = ['Close', 'High', 'Low', 'Open', 'Volume', 'Percent Change']

In [14]:
# Creating csv files for individual stocks with first column to be Adj Close
for ticker in tickers:
    df = stocks_adj_close[ticker]
    df.to_csv(f'stock_data/{ticker}.csv')

In [15]:
# Merging 
for ticker in tickers:
    df = pd.read_csv(f"stock_data/{ticker}.csv", index_col = [0], parse_dates = [0]) 
    df.rename(columns = {ticker : "Adj Close"}, inplace = True)
    df = pd.merge(df,stocks[columns[0]][ticker],left_on='Date',right_on='Date',how='right')
    df = pd.merge(df,stocks[columns[1]][ticker],left_on='Date',right_on='Date',how='right')
    df = pd.merge(df,stocks[columns[2]][ticker],left_on='Date',right_on='Date',how='right')
    df = pd.merge(df,stocks[columns[3]][ticker],left_on='Date',right_on='Date',how='right')
    df = pd.merge(df,stocks[columns[4]][ticker],left_on='Date',right_on='Date',how='right')
    df['Percent Change'] = df['Adj Close'].pct_change()
    
#     print(df.head())
#         df[columns[i]] = stocks[columns[i]][ticker]
    
#                          }, inplace = True)
    
    df.to_csv(f'stock_data/{ticker}.csv')

In [16]:
# Renaming the columns from Columns list
for ticker in tickers:
    df = pd.read_csv(f"stock_data/{ticker}.csv", index_col = [0], parse_dates = [0])
#     print(df.head())
    for i in range(0, len(columns)-1):
        df.rename(columns={df.columns[i+1]: columns[i]},inplace=True)
#         print(df.head())
    df.to_csv(f'stock_data/{ticker}.csv')

In [17]:
# As you can see all the stocks are not starting from same y value, 
# lets normalize the data and then plot and see the price fluctuations
# we will divide every row by the first row and multiply by 100 to covert it into %
# for example the following code is printing the normalized values of first column
# Lets normalize all the columns
norm_adj_close = (stocks/(stocks.iloc[0]))*100
norm_adj_close.head()

             Adj Close                                                  \
                     A         AAL         AAP        AAPL         ABC
Date
2010-01-05  100.000000  100.000000  100.000000  100.000000  100.000000
2010-01-06   99.644707   95.856892  100.871963   98.409361   99.054466
2010-01-07   99.515543   98.681733  100.847080   98.227448   97.465969
2010-01-08   99.483230   96.798486  101.245657   98.880510   98.524993
2010-01-11   99.547827   94.915259  100.249159   98.008202   99.621774

                                                                        ...  \
                  ABMD         ABT         ACN        ADBE         ADI  ...
Date                                                                    ...
2010-01-05  100.000000  100.000000  100.000000  100.000000  100.000000  ...
2010-01-06   98.475966  100.555365  101.063067   99.787794   99.810223  ...
2010-01-07   98.475966  101.388369  100.968565   97.851455   99.019573  ...
2010-01-08   96.482999  101.906713  100.566945   97.320949   99.588863  ...
2010-01-11   94.724504  102.425018  100.472477   96.047741   99.019573  ...

                Volume                                                  \
                   WTW          WY        WYNN         XEL         XOM
Date
2010-01-05  100.000000  100.000000  100.000000  100.000000  100.000000
2010-01-06  172.314983  130.727747   48.523289   50.087934  116.139349
2010-01-07   96.809053   82.383300   42.317028   70.386912   90.115560
2010-01-08   82.288387   75.964048   27.280619   37.004212   82.492287
2010-01-11   74.894484   64.760800   33.821732   52.450595  101.691152


                  XRAY         YUM         ZBH        ZBRA        ZION
Date
2010-01-05  100.000000  100.000000  100.000000  100.000000  100.000000
2010-01-06  208.946817  126.683505   74.343752  228.258294  225.050397
2010-01-07  143.581347   74.345337   97.986147  108.767773  440.938364
2010-01-08  105.265916  114.357984  125.109132  157.879147  123.146909
2010-01-11  103.130731  175.526024   82.998661   61.670616   98.688788

[5 rows x 2658 columns]

In [ ]:
# Lets plot the normalized closed values
# norm_adj_close.plot(figsize = (15,8), fontsize = 12)
# plt.legend(loc = "upper left", fontsize = 12)
# plt.show()

In [20]:
# Merging into Database
for ticker in tickers:
    df = pd.read_csv(f"stock_data/{ticker}.csv", index_col = [0], parse_dates = [0]) 
    df['Normalized Adj Close'] = norm_adj_close[ticker]
    df.to_csv(f'stock_data/{ticker}.csv')

KeyError: 'A'

# Rough Work

In [ ]:
# for ticker in tickers:
#     df = pd.read_csv(f"stock_data/{ticker}.csv", index_col = [0], parse_dates = [0]) 
#     df.rename(columns = {ticker : "Adj Close"}, inplace = True)
#     for i in range(0,len(columns)-1):
#         df1 = pd.merge(df,stocks[columns[i]][ticker],left_on='Date',right_on='Date',how='right')
#         print(df1.head())
# #         df[columns[i]] = stocks[columns[i]][ticker]
    
# #                          }, inplace = True)
#     df1['Percent Change'] = df.pct_change()
#     df1.to_csv(f'stock_data/{ticker}.csv')

In [ ]:
stocks.iloc[:,-1]

In [ ]:
df = pd.read_csv("stock_data/AAPL.csv",   index_col = [0], parse_dates = [0])

In [ ]:
df.rename(columns={df.columns[5]: columns[4]},inplace=True)

In [ ]:
df

In [ ]:
df[columns[4]] = stocks[columns[4]]['AAPL']

In [ ]:
stocks_close

In [ ]:
df = pd.merge(df,stocks[columns[0]]['AAPL'],left_on='Date',right_on='Date',how='right')

In [ ]:
df.columns

In [ ]:
len(df)

In [ ]:
len(stocks[columns[4]]['AAPL'])

In [ ]:
stocks_open = stocks['Open'][:]

In [ ]:
stocks_open