In [1]:
# yfinance is where we will pull our data from
import yfinance as yf
# pandas for dealing with DataFrames
import pandas as pd
# numpy for using mathematical functions
import numpy as np
# matplotlib for visualization
import matplotlib.pyplot as plt
# Turning off the warnings
# pd.options.mode.chained_assignment = None
# request library
import requests
from MCForecastTools import MCSimulation

In [2]:
df = pd.read_csv("returns_df.csv")

In [3]:
df.columns

Index(['Date', 'A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN',
       ...
       'WYNN', 'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION',
       'ZTS'],
      dtype='object', length=506)

In [4]:
df.reset_index(drop=True)

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,2010-01-04,20.402889,4.496877,38.432693,6.572423,NaN,22.101801,8.740000,19.778837,33.334290,...,41.963718,13.784518,43.185623,32.624126,NaN,19.900911,53.282867,28.670000,11.376088,NaN
1,2010-01-05,20.181265,5.005958,38.204258,6.583786,NaN,21.944107,8.530000,19.619041,33.540306,...,44.515926,13.621045,43.354244,32.236294,NaN,19.832848,54.969589,28.620001,11.777194,NaN
2,2010-01-06,20.109560,4.798555,38.537392,6.479064,NaN,21.736618,8.400000,19.727999,33.896866,...,43.932011,13.647198,43.728970,32.448673,NaN,19.691063,54.951843,28.400000,12.801298,NaN
3,2010-01-07,20.083488,4.939965,38.527885,6.467087,NaN,21.388039,8.400000,19.891426,33.865170,...,44.870213,13.588349,43.591564,32.873451,NaN,19.685392,56.212440,27.690001,14.235044,NaN
4,2010-01-08,20.076973,4.845692,38.680153,6.510081,NaN,21.620424,8.230000,19.993120,33.730473,...,44.548744,13.594889,43.416687,32.873451,NaN,19.691063,55.031742,27.600000,14.004619,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3090,2022-04-07,135.929993,16.950001,217.580002,172.139999,173.279999,162.919998,317.519989,123.370003,341.769989,...,73.970001,74.570000,85.050003,48.070000,86.720001,120.400002,129.910004,418.399994,63.180000,197.929993
3091,2022-04-08,134.869995,16.590000,225.740005,170.089996,174.960007,165.440002,314.529999,123.250000,338.920013,...,72.230003,74.820000,86.839996,48.049999,86.669998,119.169998,129.619995,415.630005,63.889999,200.089996
3092,2022-04-11,131.259995,16.969999,220.970001,165.750000,169.830002,162.649994,299.760010,120.040001,327.269989,...,71.290001,74.360001,83.849998,48.480000,85.730003,118.309998,126.900002,408.700012,64.230003,192.500000
3093,2022-04-12,125.389999,17.129999,221.880005,167.660004,167.309998,162.619995,299.640015,118.389999,326.730011,...,71.500000,74.730003,85.599998,48.450001,84.849998,119.889999,126.639999,402.209991,63.220001,187.910004
3094,2022-04-13,128.289993,18.950001,220.580002,170.399994,158.949997,162.960007,304.429993,119.480003,325.589996,...,73.570000,74.370003,86.809998,48.750000,86.540001,121.870003,127.949997,405.000000,64.019997,189.520004

In [11]:
df = df.droplevel(0, axis=1)

ValueError: Cannot remove 1 levels from an index with 1 levels: at least one level must be left.

In [5]:
num_sim = 500
trad_days = 252
years = 30

mc_sim = MCSimulation(
    portfolio_data = df,
    weights = [.60,.40],
    num_simulation = num_sim,
    num_trading_days = trad_days * years
)
#df_stock_data_pv1

IndexError: Too many levels: Index has only 1 level, not 2